html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    margin: 0;
}

div {
    display: block;
}

header {
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    padding: 18px 0;
    width: 100%;
}

.container {
    width: auto;
    margin-left: 12%;
    margin-right: 12%;
}

.flexbox-center {
    display: flex;
    align-items: center;
    width: 100%;
}

.col-lg-2 {
    width: auto;
    min-height: 1px;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-10 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: auto;
    width: auto;
    flex: auto;
}

.logo img {
    height: auto;
}

.mainmenu {
    text-align: right;
    display: block;
    justify-content: flex-end;
    float: right;
    width: 100%;
}

ul {
    margin: 0;
    padding: 20px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#primary-menu {
    padding: 0;
    margin: 0;

}

.mainmenu li {
    display: inline-block; 
    padding-left: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

a.nav-link {
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s;
    border-bottom: 3px solid transparent; 
    font-size: 14px;
}

a.lang-btn {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    background-color: aliceblue;
    border: 1px solid transparent;
    border-radius: 35px;
    padding: 7px 7px;
    text-transform: uppercase;
    font-weight: 4000;
    transition: all 0.3s;
}

a.lang-btn:hover {
    background-color: rgb(0, 140, 255);
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    padding-bottom: 6px;
    border-bottom: 3px solid white; 
}

.hero-home{
    background-image: url(https://www.inet.co.th/assets/img/hero/hero-home.jpg);
    padding-top: 140px;
    height: 800px;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-area-slider {
    height: 100%;
    width: 100%;
}

.owl-stage-outer {
    height: 87%;
    width: auto;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

.container .row {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pic-slider {
    padding-left: 15px;
    padding-right: 15px;
}

.text-slider {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    color: white;
    font-size: x-large;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pic-slider{
    width: 50%;
    margin-top: 30px;
}
.pic-slider-box img {
    
}

.text-slider-box h1 {
    font-weight: 500;
    font-family: 'Prompt', sans-serif; 
}